.rangepicker * {
  box-sizing: border-box;
}

.rangepicker {
  display: flex;
  flex-wrap: wrap;
}

.rangepicker_month {
  width: 25%;
  background-color: #ffffff;
  border: 1px solid #a6a6a6;
}

.rangepicker_monthtitle {
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #455399;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.rangepicker_days {
  height: 30px;
  color: #b7c1cd;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.rangepicker_numbers {
  display: flex;
  flex-wrap: wrap;
  color: #2b2e49;
  line-height: 48px;
}

.rangepicker_day {
  width: 14%;
  margin-bottom: 2px;
}

.rangepicker_out {
  opacity: 0.3;
}

.rangepicker_range {
  background-color: rgba(57,148,170,0.98);
  color: #ffffff;
}

.rangerpicker_range_start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rangerpicker_range_end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}